*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
body {
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 100px 0;
    background: url(../img/pexels-toa-heftiba-şinca-940302.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    width: 90%;
    height: 600px;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brand{
    text-align: center;
    font-size: 5rem;
    color: darkolivegreen;
    margin-bottom: 30px;
}
form {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
}

.form-floating {
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.main-form .form-floating .form-control input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    background: transparent;
}

.btn.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:  rgb(240,140,0);
    color: whitesmoke;
    cursor: pointer;
    margin-bottom: 5px;
}

.btn.btn-primary:hover {
    background-color: rgb(240,125,0);
}
.btn.btn-primary:active,
.btn.btn-primary:focus{
    background-color: rgb(240,140,0) !important;
    outline: none;
}
