*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
html{
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
body {
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 100px 0;
    background-color: #d9eb6b;
}
.container{
    width: 90%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
}
.brand{
    text-align: center;
    font-size: 5rem;
    color: darkolivegreen;
    margin-bottom: 30px;
}
form{
    width: 90%;
    max-width: 490px;
    margin: 20px auto;
    border-radius: 4px;
    align-content: center;
    justify-content: center;
}
.form-input{
    width: 90%;
    background-color: transparent;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 2rem;
    display: inline-block;
}

.search-result{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
    border-radius: 10px;
}
.item{
    width: 100%;
    border-right: 8px;
    background-color: rgba(85,107,47, 0.3);
    padding: 15px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
}
.item img{
    width: 100%;
    height: 300px;
    border-radius: 4px;
}
.item .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item .title{
    color: whitesmoke;
    margin: 20px 10px 0 0;
    font-size: 1.8rem;
    font-weight: 400;
}
.view-button{
    text-decoration: none;
    text-align: center;
    width: 130px;
    padding: 10px 0;
    background-color: #a1ad2d;
    color: whitesmoke;
    font-size: 1.4rem;
    margin-top: 20px;
    align-self: flex-start;
    border-radius: 5px;
}
.view-button:hover{
    background-color: rgb(165,180,48);
}
.item-data{
    color: whitesmoke;
    display: block;
    margin-top: 10px;
    font-size: 1.4rem;
    letter-spacing: .05rem;
    line-height: 2rem;
}
.container2{
    display: flex;
    justify-content: center;
    min-height: 10vh;
    /*background-color: #f5f3e8;*/
    /*background-color: #28282B;*/
}
.dropdown{
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 25%;
    min-width: 150px;
    height: 35px;
}
.dropdown::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    right: 20px;
    top: 15px;
    z-index: 10000;
    border: 2px solid #333;
    border-top: 2px solid rgba(221, 221, 221, 0.8);
    border-right: 2px solid rgba(221, 221, 221, 0.8);
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}
.dropdown.active::before{
    top: 21px;
    transform: rotate(-225deg);
}
.dropdown input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /*background: #fff;*/
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: rgba(221, 221, 221, 0.5);
}
.dropdown .option{
    position: absolute;
    top: 70px;
    width: 100%;
    max-height: 250px;
    background: rgb(238, 238, 238);
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
.dropdown.active .option{
    display: block;
}
.dropdown .option div{
    padding: 12px 20px;
    cursor: pointer;
}
.dropdown .option div:hover{
    background: rgba(240,140,0, 0.7);
    color: white;
}

@media screen and (max-width: 768px) {
    .dropdown {
        width: 100%;
        margin-right: 0;
    }
}


.btn {
    margin-right: 10px;
}

.btn.btn-primary {
    background-color: rgb(240,140,0) !important;
    border-color: rgb(240,140,0) !important;
}

.btn.btn-primary:hover {
    background-color: rgb(240,125,0) !important;
    border-color: rgb(240,125,0) !important;
}

.btn.btn-default {
    background-color: rgba(240,140,0, 0.8) !important;
    color: whitesmoke;
    border: none;
}

.btn.btn-default:hover {
    background-color: rgb(240,140,5) !important;
    color: whitesmoke;
    border: none;
}
